.order-container {
  position: absolute;
  top: 5rem;
  left: 35rem;
  height: 880px;
}
.position {
  position: absolute;
  top: 5rem;
  left: 40rem;
  height: 880px;
}
.payment_btn {
  margin-top: -2.8rem;
  margin-left: 29rem;
  background-color: rgb(233, 70, 70);
  padding: 5px;
  width: 180px;
  height: 43px;
}
.payment_btn p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.back_home {
  margin-top: 20px;
  margin-left: 7rem;
  background-color: rgb(233, 70, 70);
  padding: 5px;
  width: 180px;
  height: 43px;
}
.back_home p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
